@import "../variables.css";

.landing * {
  color: #D8F8FF;
}

.landing h1,
a {
  filter: drop-shadow(1px 3px 1px hsl(0, 0%, 0%, 0.25));
}

.landing a {
  text-decoration: none;
}

.landing a:hover {
  text-decoration: underline;
}

.landing {
  min-width: 100%;
  min-height: 100vh;
  position: relative;
}

.landing-wall {
    min-width: 100%;
    min-height: 200vh;
    background-image: var(--wallBackground);
    background-size: contain;
    background-repeat: repeat;
    position: absolute;
}

.landing-sun {
  width: 19%;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 43%;
}

.landing-layer {
  width: 100%;
  max-width: var(--maxPageWidth);
  min-height: 100vh;
  position: fixed;
  z-index: 999;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 49px 0 49px;
}

.top-bar__minicontainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo {
  position: relative;
  width: calc(73rem / 16);
  height: calc(77rem / 16);
  background-image: url("../logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../logo-hover.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logo:hover::before {
  opacity: 1;
}

.logo:active {
  transform: scale(0.95);
}

.login {
  font-size: 2rem;
  cursor: pointer;
}

.login:hover {
  text-decoration: underline;
}

.landing h1 {
  font-size: calc(110rem / 16);
  font-weight: 700;
  margin-left: var(--marginLeft);
  margin-top: 8%;
  text-transform: uppercase;
}

.landing nav {
  margin-top: 8%;
  font-size: 2rem;
  margin-left: var(--marginLeft);
  width: fit-content;
}

.landing nav li {
  cursor: pointer;
}

.landing nav li:hover {
  text-decoration: underline;
}