.landing {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.landing-wall {
    min-width: 100vw;
    min-height: 200vh;
    background-image: url("./public/bg.webp");
    background-size: contain;
    background-repeat: repeat;
    position: absolute;
}

.landing-sun {
  width: 19vw;
  height: 19vw;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 43%;
}

.landing-layer {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  z-index: 999;
}