.landing {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: -1;
}

.landing-wall {
    min-width: 100vw;
    min-height: 300vh;
    background-image: url("./public/bg.webp");
    background-size: contain;
    background-repeat: repeat;
    position: absolute;
}

.landing-sun {
  width: 275px;
  height: 275px;
  background: hsl(54, 100%, 50%);
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 43%;
}

.landing-layer {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  z-index: 999;
}